<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.microg.nlp.backend.nominatim"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23"/>
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <service
            android:name=".BackendService"
            android:label="@string/backend_name">
            <intent-filter>
                <action android:name="org.microg.nlp.GEOCODER_BACKEND"/>
            </intent-filter>
        </service>
    </application>
</manifest>
